@import "../../colors.scss";
@import "../../font-size.scss";
@import "../../shared.scss";

.list {
  list-style: none; // senza bullet points!!
  font-size: $medium;
  color: $secondary;
  font-weight: bold;
  padding-left: 0;
}

.elem {
  opacity: 0.5;
  cursor: pointer;
  padding-bottom: 20px;
}

.title {
  color: $secondary;
  font-size: $large;
  font-weight: bold;
  margin-bottom: 60px;
}

.main {
  display: inline-block;

  @media (max-width: $mobile_breakpoint) {
    width: auto;
  }
}

.selected {
  opacity: 1;
  padding-left: 20px;
}
