@import "@/colors.module.scss";
@import "@/font-size.scss";
@import "@/shared.scss";

$column_width: 300px;

.column {
  width: $column_width;
  height: 100vh;
  background-color: $light_blue;
  padding: $spacing_medium;

  .main {
    display: block;
    height: 100%;
    position: relative;
  }

  @media (max-width: $mobile_breakpoint) {
    // proprieta della column su mobile (chiusa)
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2; // piu z-index E alto piu z-index cresce
    transform: translateX(
      -$column_width
    ); //vogliamo translarlo sull asse X (orizzontale)
    transition: 0.3s transform ease-in-out;

    &.open {
      // proprieta da aggiungere a column solo quando il menu é visibile
      display: block;
      transform: translateX(0);
    }
  }
}

.close {
  display: none;

  @media (max-width: $mobile_breakpoint) {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
  }
}

.list {
  list-style: none; // senza bullet points!!
  font-size: $medium;
  color: $secondary;
  font-weight: bold;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.elem {
  display: flex;
  gap: $spacing_extra_small;
  opacity: 0.5;
  cursor: pointer;
  height: $spacing_small;

  .edit_icon {
    display: none;
    cursor: pointer;

    @media (max-width: $mobile_breakpoint) {
      display: block;
    }
  }
  &:hover {
    .edit_icon {
      display: block;
    }
  }
}

.title {
  color: $secondary;
  font-size: $large;
  font-weight: bold;
  margin-bottom: $spacing_extra_large;
}

.selected {
  opacity: 1;
  padding-left: $spacing_small_medium;
}
