@import "@/colors.module.scss";
@import "@/font-size.scss";
@import "@/shared.scss";

.title {
  color: $secondary;
  font-size: $medium_large;
  font-weight: bold;
  // margin-bottom: 60px;
  // display: flex;
  // align-items: center;
  // gap: 20px;
}

.main {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.sublist_title {
  display: flex;
  align-items: center;

  .delete_big_button {
    display: none;
    cursor: pointer;
  }

  &:hover {
    .delete_big_button {
      display: block;
    }
  }
}

.list_item {
  height: $spacing_large;
  align-items: center;
  display: flex;
  gap: $spacing_extra_small;
  list-style: none; // senza bullet points!!
  font-size: $medium;
  color: $secondary;
  font-weight: bold;

  .delete_button {
    display: none;
    cursor: pointer; // qst si mantiene anche sotto - sotto cambia solo display:block
  }

  &:hover {
    .delete_button {
      display: block;
    }
  }
}

.ul {
  padding-left: 0;
}

.ticketed {
  color: $grey;
}
