@import "../../colors.module.scss";
@import "../../font-size.scss";

.title {
  color: $secondary;
  font-size: $medium_large;
  font-weight: bold;
  // margin-bottom: 60px;
  // display: flex;
  // align-items: center;
  // gap: 20px;
}

.main {
  display: block;
  height: 100%;
}

.sublist_title {
  display: flex;
  align-items: center;
  gap: 20px;

  .delete_big_button {
    display: none;
    cursor: pointer;
  }

  &:hover {
    .delete_big_button {
      display: block;
    }
  }
}

.list_item {
  height: 45px;
  align-items: center;
  display: flex;
  gap: 8px;
  list-style: none; // senza bullet points!!
  font-size: $medium;
  color: $secondary;
  font-weight: bold;
  padding-bottom: 20px;

  .delete_button {
    display: none;
    cursor: pointer; // qst si mantiene anche sotto - sotto cambia solo display:block
  }

  &:hover {
    .delete_button {
      display: block;
    }
  }
}

.ul {
  padding-left: 0;
}

.ticketed {
  color: gray;
  opacity: 0.5;
}
