@import "@/colors.module.scss";
@import "@/font-size.scss";
@import "@/shared.scss";

.modal_title {
  font-size: $medium;
  color: $secondary;
  font-weight: bold;
  display: inline-block;
  padding-bottom: $spacing_small_medium;
}

.input {
  width: 100%;
  height: $spacing_medium;
}

.buttons {
  display: flex;
  justify-content: space-between;
}
