@import "../../../colors.scss";
@import "../../../font-size.scss";

.add_button {
  display: flex;
  border: 1px solid #4f005f;
  gap: 7px;
  font-size: $medium;
  border: none;
  background: transparent;
  color: $secondary;
  font-weight: bold;
  padding: 5px;
  cursor: pointer;
  margin-top: 15px;

  //GUARDA COME SI USA "&" PER FARE RIFERIMENTO A STESSA CLASSE!
  // &:hover,
  // &:active {
  //   background: $secondary;
  //   border-color: $secondary;
  // }

  &:focus {
    outline: none;
  }
}

.button {
  border: 1px solid #4f005f;
  font-weight: bold;
  color: $white;
  padding: 5px;
  cursor: pointer;
  margin-top: 15px;
}

.danger {
  background: red;
}

.default {
  background: $secondary;
}
