@import "@/colors.module.scss";
@import "@/font-size.scss";
@import "@/shared.scss";

.add_button {
  display: flex;
  align-items: center;
  gap: $spacing_extra_small;
  font-size: $medium;
  border: none;
  background: transparent;
  color: $secondary;
  padding: 5px;
  cursor: pointer;
  margin-top: $spacing_small;

  span {
    font-family: "openSansBold";
  }

  .plus {
    background-color: $secondary;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: "openSansBold";
    font-size: $large;
    height: $spacing_small_medium;
    width: $spacing_small_medium;
    border-radius: 50%;
    cursor: pointer;
  }

  //GUARDA COME SI USA "&" PER FARE RIFERIMENTO A STESSA CLASSE!
  // &:hover,
  // &:active {
  //   background: $secondary;
  //   border-color: $secondary;
  // }

  &:focus {
    outline: none;
  }
}

.button {
  border: 1px solid;
  border-color: transparent;
  font-weight: bold;
  color: $white;
  padding: $spacing_extra_small;
  margin-top: $spacing_medium;
  padding: 5px 10px;
  cursor: pointer;
}

.danger {
  background: red;
}

.default {
  background: $secondary;
}
