@import "@/colors.module.scss";
@import "@/font-size.scss";
@import "@/shared.scss";

.list {
  padding: $spacing_small;
}

.elems {
  display: block;
  color: $primary;
  font-size: $medium;
}
