@import "./colors.module.scss";
@import "./shared.scss";

.main {
  display: flex;
  align-items: flex-start;
  position: relative;
}

.secondPart {
  height: 100vh;
  background-color: $white;
  flex-grow: 1;
  position: relative;
  padding: 30px;

  @media (max-width: $mobile_breakpoint) {
    padding: 16px;
  }
}
