@import "./colors.module.scss";

.main {
  display: flex;
  align-items: flex-start;
  position: relative;
  // justify-content: flex-start;
  // margin: 0px 0px 0px 60px;
  // gap: 10px;
}

.secondPart {
  height: 100vh;
  background-color: $white;
  padding: 30px;
  flex-grow: 1;
  position: relative;
}
