/*qui definiamo i fotn disponibili nel progetto. Chiocciola = direttive
in questo caso specifica nome di una font-face  */

@font-face {
  font-family: "openSans";
  src: url("./assets/font/OpenSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "openSansBold";
  src: url("./assets/font/OpenSans-SemiBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "openSans";
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  font-family: inherit;
}
